@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background: linear-gradient(to bottom right, #0a0a0a 50%, #330a6b);
    font-size: 2vw;
    margin: 0;
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}
